{% extends 'main.html' %}

{% block content %}

<div class="hero-section__search">
    <form class="form" action="" method="get">
      <div class="form__field">
        <label for="formInput#search">Search Users </label>
        <input class="input input--text" id="formInput#search" type="text" name="search_link"
          value="" placeholder="Enter your link" />
      </div>

      <input class="btn btn--sub btn--lg" type="submit" value="Search" />
    </form>
  </div>
</div>

{% endblock content %}  